<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>moon site</title>
    <link rel="stylesheet" href="./css/all_style.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<nav class="navbar">
    <div class="logo"><a href="./index.html">MySite</a></div>
    <ul>
        <li><a href="./index.html">홈</a></li>
        <li><a href="./portfolio.html">포트폴리오</a></li>
        <li><a href="./history.html">이력정보</a></li>
       <!-- <li><a href="./favorite.html">즐겨찾기</a></li>-->
    </ul>
</nav>
