<nav>
    <ul>
        <li><a href="#" class="load-page" data-page="./history/page_main.html">경력 요약</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2024.html">2024년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2023.html">2023년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2022.html">2022년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2021.html">2021년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2020.html">2020년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2019.html">2019년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2018.html">2018년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2017.html">2017년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2016.html">2016년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2015.html">2015년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2014.html">2014년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2013.html">2013년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2012.html">2012년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2010.html">2010년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2006.html">2006년</a></li>
        <li><a href="#" class="load-page" data-page="./history/page2005.html">2005년</a></li>
    </ul>
   
</nav>
